.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #FFD903;
  border-bottom: solid 1px rgb(138, 138, 138);
}
.header .headerLogoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .headerLogoWrapper > a {
  width: 130px;
}
.header .headerLogoWrapper > a img {
  width: 100%;
  height: auto;
}
.header .signArea {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .header .signArea {
    width: 40vw;
    height: 100vh;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
  }
}
.header .signArea .signAreaWrapper {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .header .signArea .signAreaWrapper {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
  }
}
.header .signArea .signAreaWrapper > p {
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  color: blue;
  font-size: 1rem;
  transition: all 0.2s;
}
@media (max-width: 767px) {
  .header .signArea .signAreaWrapper > p {
    width: 100%;
    display: block;
    padding: 1rem 0;
    margin: 0;
    text-decoration: none;
    color: white;
    border-bottom: solid 0.1px white;
  }
}
@media (max-width: 575px) {
  .header .signArea .signAreaWrapper > p {
    font-size: 0.9rem;
  }
}
.header .signArea .signAreaWrapper > p:hover {
  color: rgb(0, 0, 100);
}
@media (max-width: 767px) {
  .header .signArea .signAreaWrapper > p:hover {
    color: black;
  }
}