header {
  .headerLogoWrapper {
    a {
      img {}
    }
  }

  .signAreaWrapper {
    display: none;

    & > p {
      text-decoration: underline;
      display: inline-block;
      cursor: pointer;
    }

    .signOutBtn {}

    .acountDeleteBtn {
      margin-left: 1rem;
    }
  }
}