header .signAreaWrapper {
  display: none;
}
header .signAreaWrapper > p {
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
}
header .signAreaWrapper .acountDeleteBtn {
  margin-left: 1rem;
}