.container {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
  background: #FFD700;
  
  .main {
    grid-row: 2;
    height: 1500px;

    .observeTarget {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      visibility: hidden;
    }
  
    .mainWrapper {
      width: 60%;
      margin: 1rem auto;
      margin-bottom: 90px;
      padding: 5% 0;
      @media(max-width: 991px) {
        width: 75%;
      }
      @media(max-width: 767px) {
        margin-top: 3rem;
      }
      @media(max-width: 576px) {
        width: 90%;
      }
    
      .registItem {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 10%;
        @media(max-width: 767px) {
          grid-template-rows: 2fr 1fr;
          gap: 0;
        }
    
        & > div:first-child {
          display: flex;
          justify-content: space-between;
          gap: 3%;
          @media(max-width: 767px) {
            display: none;
          }
    
          & > div {
            width: 100%;
    
            label {
              display: block;
              margin-bottom: .5rem;
            }
  
            span {
              width: 15%;
              height: 2.5rem;
            }
  
            input:not([name="regist_item_number"]) {
              border-radius: 5px;
            }
    
            input {
              outline: none;
              width: 100%;
              height: 2.5rem;
              padding: 2px .5rem;
              border: solid 1.5px rgb(196 196 196);
              border-radius: 5px;
            }
          }
        }
  
        & > div:last-child {
          display: flex;
          justify-content: center;
          align-items: center;

          .registItemBtn { //新規商品登録ボタン
            width: 200px;
            padding: .5rem 1rem;
            border-radius: 5px;
            border: solid 1.5px rgb(196 196 196);
            background: #00187C;
            color: white;
            cursor: pointer;
            @media(max-width: 767px) {
              width: 100%;
              border-radius: 50px;
              padding: 0.8rem 1rem;
            }

            &:hover {
              color: rgb(227, 227, 227);
              background: #00115a;
            }
          }
        }
      }

      .itemIndexWrapper {
        margin-top: 1rem;

        & > ul {
          padding: 0;

          .itemIndex {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 30% 20% 30% repeat(2, 10%);
            @media(max-width: 576px) {
              grid-template-columns: 1fr repeat(4, 18%);
            }
    
            & > div {
              border-radius: 5px;
              background: black;
              color: white;
              padding: .5rem .8rem;
              margin: .5px;
              display: flex;
              justify-content: center;
            }
      
            .Spinner {   
              display: flex;
              justify-content: center;
              align-items: center;
              
              .spinnerWrapper {
                display: flex;
                justify-content: center;
                height: 1.5rem;
      
                & > input {
                  width: 50%;
                  text-align: center;
                }
            
                input[type="number"] {
                  padding: 0 .2rem;
                }
            
                .spinnerUp {
                  position: relative;
                  right: 0;
                  width: 20%;
                  border: solid 2px rgba(128, 128, 128, 0.5);
                  border-radius: 2px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  background: rgb(190, 190, 190);
                  color: white;
            
                  &::before {
                    content: '+';
                    position: absolute;
                  }
                }
                
                .spinnerDown {
                  position: relative;
                  left: 0;
                  width: 20%;
                  border: solid 2px rgba(128, 128, 128, 0.5);
                  border-radius: 2px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  background: rgb(190, 190, 190);
                  color: white;
            
                  &::before {
                    content: '-';
                    position: absolute;
                  }
                }
    
                span:nth-of-type(3) {
                  display: flex;
                  align-items: center;
                }
              }
            }
    
            & > div:first-child {
              align-items: center;
              position: relative;
              text-decoration: underline;
  
              @media(max-width: 576px) {
                grid-column-start: 1;
                grid-column-end: 6;
                background: none;
                color: black;
                justify-content: flex-start;
              }

              &::before {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                background: black;
                border-radius: 100%;
                left: 0;
              }

              & > span {
                cursor: pointer;
              }
            }
    
            & > div:nth-child(2) {
              align-items: center;
  
              @media(max-width: 576px) {
                grid-column-start: 1;
                grid-column-end: 2;
              }
            }
            & > div:nth-child(3) {
              @media(max-width: 576px) {
                grid-column-start: 2;
                grid-column-end: 4;
              }
            }
            
            & > div:nth-child(4) {
              align-items: center;
  
              @media(max-width: 576px) {
                grid-column-start: 4;
                grid-column-end: 5;
              }
    
              label {
                span {
                  padding: 0.3rem;
                  border-radius: 2px;
                  border: solid 0.1px white;
                  cursor: pointer;
    
                  &:hover {
                    color: rgb(227, 227, 227);
                  }
                }
              }

              & > input[name="status_flag"] {
                display: none;
              }
            }
    
            & > div:last-child {
              text-decoration: underline;
              align-items: center;
  
              @media(max-width: 576px) {
                grid-column-start: 5;
                grid-column-end: 6;
              }
              
              & > span {
                cursor: pointer;
    
                &:hover {
                  color: rgb(227, 227, 227);
                }
              }
            }
    
            div:nth-child(2), div:last-child {
              white-space: nowrap;
            }
          }
        }
      }

      .updateBtn {
        position: fixed;
        bottom: 3%;
        left: 3%;
        padding: .5rem 1.5rem;
        border-radius: 5px;
        border: solid 1px grey;
        background: #9F0000;
        opacity: .8;
        color: white;
        cursor: pointer;

        &:hover {
          color: rgb(227, 227, 227);
          background: #840101;
        }
      }

      .toTopWrapper {
        position: fixed;
        bottom: 3%;
        right: 3%;
        width: 50px;
        height: 50px;
        display: none;

        & > a {
          width: 100%;
          height: 100%;
          position: relative;
          background: rgb(131, 131, 131, .9);
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          
          &::before {
            content: '\02227';
            position: absolute;
            font-size: 1rem;
            color: white;
          }

          &:hover {
            background:rgba(101, 101, 101, 0.9);
          }
        }
      }
    }
  }
}