.container {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
}
.container .main {
  grid-row: 2;
  background: #FFD903;
  height: 1500px;
}
.container .main .mainWrapper {
  width: 60%;
  margin: 100px auto;
  margin-bottom: 90px;
  padding: 5% 0;
}
@media (max-width: 991px) {
  .container .main .mainWrapper {
    width: 75%;
  }
}
.container .main .mainWrapper .spinnerWrapper {
  display: flex;
  justify-content: space-between;
}
.container .main .mainWrapper .spinnerWrapper input[type=number] {
  padding: 0 0.2rem;
}
.container .main .mainWrapper .spinnerWrapper .spinnerUp {
  position: relative;
  right: 0;
  width: 20%;
  height: 100%;
  border: solid 2px rgba(128, 128, 128, 0.5);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(190, 190, 190);
  color: white;
}
.container .main .mainWrapper .spinnerWrapper .spinnerUp::before {
  content: "+";
  position: absolute;
}
.container .main .mainWrapper .spinnerWrapper .spinnerDown {
  position: relative;
  left: 0;
  width: 20%;
  height: 100%;
  border: solid 2px rgba(128, 128, 128, 0.5);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(190, 190, 190);
  color: white;
}
.container .main .mainWrapper .spinnerWrapper .spinnerDown::before {
  content: "-";
  position: absolute;
}
.container .main .mainWrapper .registItem {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10%;
}
.container .main .mainWrapper .registItem > div:first-child {
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.container .main .mainWrapper .registItem > div:first-child > div {
  width: 100%;
}
.container .main .mainWrapper .registItem > div:first-child > div label {
  display: block;
  margin-bottom: 0.5rem;
}
.container .main .mainWrapper .registItem > div:first-child > div span {
  width: 15%;
  height: 2.5rem;
}
.container .main .mainWrapper .registItem > div:first-child > div input:not([name=regist_item_number]) {
  border-radius: 5px;
}
.container .main .mainWrapper .registItem > div:first-child > div input {
  outline: none;
  width: 100%;
  height: 2.5rem;
  padding: 2px 0.5rem;
  border: solid 1px rgb(138, 138, 138);
  border-radius: 5px;
}
.container .main .mainWrapper .registItem > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main .mainWrapper table {
  border-collapse: collapse;
}
.container .main .mainWrapper table tr > td > input[name=status_flag] {
  display: none;
}
.container .main .mainWrapper table tr > td:nth-child(3) {
  display: flex;
  justify-content: center;
}
.container .main .mainWrapper table tr > td:nth-child(3) .spinnerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .main .mainWrapper table tr > td:nth-child(3) .spinnerWrapper > input {
  width: 60%;
  text-align: center;
}
.container .main .mainWrapper table th, .container .main .mainWrapper table td {
  border: solid 1px black;
}