@charset "UTF-8";
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: #FFD700;
}
.container .main {
  grid-row: 2;
  margin-top: 50px;
}
.container .main .observeTarget {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}
.container .main .mainWrapper {
  width: 60%;
  margin: 1rem auto;
  margin-bottom: 90px;
  padding: 5% 0;
}
@media (max-width: 991px) {
  .container .main .mainWrapper {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .container .main .mainWrapper {
    margin-top: 3rem;
  }
}
@media (max-width: 576px) {
  .container .main .mainWrapper {
    width: 90%;
  }
}
.container .main .mainWrapper .registItem {
  display: flex;
  flex-direction: column;
}
.container .main .mainWrapper .registItem > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .container .main .mainWrapper .registItem > div:nth-of-type(1) {
    display: none;
  }
}
.container .main .mainWrapper .registItem > div:nth-of-type(1) > div {
  width: 100%;
}
.container .main .mainWrapper .registItem > div:nth-of-type(1) > div label {
  display: block;
  margin-bottom: 0.5rem;
}
.container .main .mainWrapper .registItem > div:nth-of-type(1) > div input:not([name=regist_item_number]) {
  border-radius: 5px;
}
.container .main .mainWrapper .registItem > div:nth-of-type(1) > div input {
  outline: none;
  width: 100%;
  height: 2.5rem;
  padding: 2px 0.5rem;
  border: solid 1.5px rgb(196, 196, 196);
  border-radius: 5px;
}
.container .main .mainWrapper .registItem > div:nth-of-type(1) > div .errorMessage {
  margin: 0;
  color: red;
  display: none;
  font-size: 0.8rem;
}
.container .main .mainWrapper .registItem > p {
  margin: 0;
  color: red;
  display: none;
}
.container .main .mainWrapper .registItem > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.container .main .mainWrapper .registItem > div:nth-of-type(2) .registItemBtn {
  width: 200px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: solid 1.5px rgb(196, 196, 196);
  background: #00187C;
  color: white;
  cursor: pointer;
}
@media (max-width: 767px) {
  .container .main .mainWrapper .registItem > div:nth-of-type(2) .registItemBtn {
    width: 100%;
    border-radius: 50px;
    padding: 0.8rem 1rem;
  }
}
.container .main .mainWrapper .registItem > div:nth-of-type(2) .registItemBtn:hover {
  color: rgb(227, 227, 227);
  background: #00115a;
}
.container .main .mainWrapper .itemIndexWrapper {
  margin-top: 1rem;
}
.container .main .mainWrapper .itemIndexWrapper > ul {
  padding: 0;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 20% 30% repeat(2, 10%);
}
@media (max-width: 576px) {
  .container .main .mainWrapper .itemIndexWrapper > ul .itemIndex {
    grid-template-columns: 1fr repeat(4, 18%);
  }
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div {
  border-radius: 5px;
  background: black;
  color: white;
  padding: 0.5rem 1.3rem;
  margin: 0.5px;
  display: flex;
  justify-content: center;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:first-child {
  align-items: center;
  position: relative;
  justify-content: flex-start;
}
@media (max-width: 576px) {
  .container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:first-child {
    grid-column-start: 1;
    grid-column-end: 6;
    background: none;
    color: black;
  }
}
@media (max-width: 576px) {
  .container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:first-child::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 100%;
    left: 0;
  }
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:first-child > span {
  cursor: pointer;
  text-decoration: underline;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:first-child > span:hover {
  color: rgb(227, 227, 227);
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(2) {
  align-items: center;
}
@media (max-width: 576px) {
  .container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) .spinnerWrapper {
  display: flex;
  justify-content: center;
  height: 1.5rem;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) .spinnerWrapper > input {
  width: 50%;
  text-align: center;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) .spinnerWrapper input[type=number] {
  padding: 0 0.2rem;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) .spinnerWrapper .spinnerUp {
  position: relative;
  right: 0;
  width: 20%;
  border: solid 2px rgba(128, 128, 128, 0.5);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(190, 190, 190);
  color: white;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) .spinnerWrapper .spinnerUp::before {
  content: "+";
  position: absolute;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) .spinnerWrapper .spinnerDown {
  position: relative;
  left: 0;
  width: 20%;
  border: solid 2px rgba(128, 128, 128, 0.5);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(190, 190, 190);
  color: white;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) .spinnerWrapper .spinnerDown::before {
  content: "-";
  position: absolute;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(3) .spinnerWrapper span:nth-of-type(3) {
  display: flex;
  align-items: center;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(4) {
  align-items: center;
}
@media (max-width: 576px) {
  .container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(4) label span {
  padding: 0.3rem;
  border-radius: 2px;
  border: solid 0.1px white;
  cursor: pointer;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(4) label span:hover {
  color: rgb(227, 227, 227);
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:nth-child(4) > input[name=status_flag] {
  display: none;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:last-child {
  text-decoration: underline;
  align-items: center;
}
@media (max-width: 576px) {
  .container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:last-child {
    grid-column-start: 5;
    grid-column-end: 6;
  }
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:last-child > span {
  cursor: pointer;
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex > div:last-child > span:hover {
  color: rgb(227, 227, 227);
}
.container .main .mainWrapper .itemIndexWrapper > ul .itemIndex div:nth-child(2), .container .main .mainWrapper .itemIndexWrapper > ul .itemIndex div:last-child {
  white-space: nowrap;
}
.container .main .mainWrapper .updateBtn {
  position: fixed;
  bottom: 3%;
  left: 3%;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: solid 1px grey;
  background: #9F0000;
  opacity: 0.8;
  color: white;
  cursor: pointer;
}
.container .main .mainWrapper .updateBtn:hover {
  color: rgb(227, 227, 227);
  background: #840101;
}
.container .main .mainWrapper .toTopWrapper {
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 50px;
  height: 50px;
  display: none;
}
.container .main .mainWrapper .toTopWrapper > a {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(131, 131, 131, 0.9);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .main .mainWrapper .toTopWrapper > a::before {
  content: "∧";
  position: absolute;
  font-size: 1rem;
  color: white;
}
.container .main .mainWrapper .toTopWrapper > a:hover {
  background: rgba(101, 101, 101, 0.9);
}